
.newsticker {
	max-width: 620px;
	margin: auto;

}


.nt-container{
	text-align: center;	
}

.nt-container i {
	font-size: 30px;
	margin: 8px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.nt-container i:hover {
	color: #333;
}

.newsticker li {
	color: #4e4e4e;
	background: #F2F2F2;
	overflow: hidden;
	height: 50px;
	padding: 10px;
	line-height: 20px;
	list-style: none;
	font-size: 16px;
	text-align: left;
	border-bottom: 1px dotted #2c8162;
}

.newsticker li:hover {
	background: #FFF;
}
